# dependencies
/chargingstations/node_modules
/chargingstations/.pnp
/chargingstations/.pnp.js

# testing
/chargingstations/coverage

# production
/chargingstations/build

# misc
/chargingstations/.DS_Store
/chargingstations/.env.local
/chargingstations/.env.development.local
/chargingstations/.env.test.local
/chargingstations/.env.production.local

/chargingstations/npm-debug.log*
/chargingstations/yarn-debug.log*
/chargingstations/yarn-error.log*
